server:
  port: 8083

spring:
  application:
    name: sensor-service

springdoc:
  api-docs:
    path: /sensors/v3/api-docs
  swagger-ui:
    use-root-path: true


logbook:
  format:
    style: http
  filter:
    enabled: true
  exclude:
    - /actuator/**
    - /favicon.ico

logging:
  level:
    root: WARN
    org.springframework.web: INFO
    org.zalando.logbook.Logbook: TRACE

management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always