server:
  port: 8084

spring:
  application:
    name: notification-service


logbook:
  format:
    style: http
  filter:
    enabled: true
  exclude:
    - /actuator/**
    - /favicon.ico

logging:
  level:
    root: WARN
    org.springframework.web: INFO
    org.zalando.logbook.Logbook: TRACE