# --- JAVA & MAVEN ---
**/target/
**/*.class
**/*.jar
**/*.war
**/*.jar.original

# nested microservice folders
.mtl.xml
.project
.classpath

# --- INTELLIJ / IDE ---
.idea/
*.iml
*.iws
out/
gen/

# --- SECRETS & CONFIG (CRITICAL) ---
.env
.env.*
secrets/
*.json
!infrastructure.yaml
!scaling.yaml
!docker-compose.yaml

# --- LOGS & TEMP ---
*.log
logs/
temp/
tmp/

# --- OS GENERATED ---
.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini