services:
  gateway:
    build: ./gateway-service
    ports:
      - "8080:8080"
    environment:
      - JWT_SECRET=${JWT_SECRET}

  notification-service:
    build: ./notification-service
    ports:
      - "8084:8084"
    volumes:
      - ./firebase-key.json:/app/firebase-key.json # Mounts the local file
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/firebase-key.json

  user-service:
    build: ./user-service
    ports:
      - "8081:8081"
    volumes:
      - ./firebase-key.json:/app/firebase-key.json
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/firebase-key.json
      - JWT_SECRET=${JWT_SECRET}

  plant-service:
    build: ./plant-service
    ports:
      - "8082:8082"
    volumes:
      - ./firebase-key.json:/app/firebase-key.json
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/firebase-key.json
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - PLANTNET_API_KEY=${PLANTNET_API_KEY}

  sensor-service:
    build: ./sensor-service
    ports:
      - "8083:8083"
    volumes:
      - ./firebase-key.json:/app/firebase-key.json
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/firebase-key.json