server:
  port: 8082

spring:
  application:
    name: plant-service

openai:
  api:
    key: ${OPENAI_API_KEY:?OpenAI Key is missing}

firebase:
  storage-bucket: sprouty-plantapp.firebasestorage.app

plantnet:
  api:
    key: ${PLANTNET_API_KEY:?PlantNet Key is missing}

logbook:
  format:
    style: http
  filter:
    enabled: true
  exclude:
    - /actuator/**
    - /favicon.ico

logging:
  level:
    root: WARN
    org.springframework.web: INFO
    org.zalando.logbook.Logbook: TRACE
