server:
  port: 8081   # user-service port, matches gateway routing

spring:
  application:
    name: user-service

jwt:
  # Read secret from environment variable; fail if not set
  secret: ${JWT_SECRET:?JWT secret is missing}

logbook:
  format:
    style: http  # This is the "one-line" style
  filter:
    enabled: true
  exclude:
    - /actuator/**
    - /favicon.ico

logging:
  level:
    root: WARN
    org.springframework.web: INFO
    # This is the "magic" line to make it actually print
    org.zalando.logbook.Logbook: TRACE