server:
  port: 8080
spring:
  application:
    name: gateway-service
  main:
    cloud-platform: "KUBERNETES"
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://user-service
          predicates:
            - Path=/users/**
        - id: plant-service
          uri: http://plant-service
          predicates:
            - Path=/plants/{segment:^(?!internal$).*}/**
        - id: sensor-service
          uri: http://sensor-service
          predicates:
            - Path=/sensors/**
        - id: notification-service
          uri: http://notification-service
          predicates:
            - Path=/notifications/**
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
      grpc:
        enabled: false

springdoc:
  swagger-ui:
    urls:
      - name: User Service
        url: /users/v3/api-docs
      - name: Plant Service
        url: /plants/v3/api-docs
      - name: Sensor Service
        url: /sensors/v3/api-docs
      - name: Notification Service
        url: /notifications/v3/api-docs

jwt:
  secret: ${JWT_SECRET}

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: "health,info,prometheus"
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always