server:
  port: 8083

spring:
  application:
    name: sensor-service

logbook:
  format:
    style: http  # This is the "one-line" style
  filter:
    enabled: true
  exclude:
    - /actuator/**
    - /favicon.ico

logging:
  level:
    root: WARN
    org.springframework.web: INFO
    org.zalando.logbook.Logbook: TRACE